{% extends "main.jinja" %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
<form method="post" action="/bibliotheque/api/">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Envoyer les données" />
</form>
{% endblock %}
