{% extends 'skeletons/main.jinja' %}

{% block body %}
<h1>Livre</h1>
<a href="/bibliotheque/livre/"><button>Se rendre aux livres.</button></a>

<h1>Catégorie</h1>
<a href="/bibliotheque/categorie/"><button>Se rendre aux catégories.</button></a>
{% endblock %}
