{% extends "skeletons/livre.jinja" %}

{% block title %}Livres{% endblock %}

{% block body %}
    {% for book in livres %}
        <p>{{ book.titre }} - {{ book.auteur }} | </p>
            <a href="/bibliotheque/livre/{{ book.pk }}"><button>voir info</button></a>
            <a href="/bibliotheque/livre/update/{{ book.pk }}"><button>éditer N.{{ book.pk }}</button></a>
            <a href="/bibliotheque/api/livre/delete/{{ book.pk }}"><button>supprimer N.{{ book.pk }}</button></a>
    {% endfor %}
{% endblock %}
