{% extends "skeletons/main.jinja" %}

{% block header %}
<aside style="text-align: center; padding: 12px; background-color: darkgray; margin-bottom: 10px;">
    <a href="/bibliotheque">Retour à la bibliothèque</a> -
    <a href="/bibliotheque/categorie">Ajouter une catégorie</a> -
    <a href="/bibliotheque/categorie/all">Liste des catégories</a>
</aside>
{% endblock %}
