{% extends "skeletons/main.jinja" %}

{% block header %}
<aside style="text-align: center; padding: 12px; background-color: darkgray; margin-bottom: 10px;">
    <a href="/bibliotheque">Retour à la bibliothèque</a> -
    <a href="/bibliotheque/livre">Ajouter un livre</a> -
    <a href="/bibliotheque/livre/all">Liste des livres</a>
</aside>
{% endblock %}
