<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bibliotheque{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <aside style="text-align: center; padding: 12px; background-color: darkgray; margin-bottom: 10px;">
            <a href="/bibliotheque">Ajouter un livre</a> -
            <a href="/bibliotheque/all">Liste des livres</a> -
            {# <a href="/bibliotheque">Trouver un livre</a> #}
        </aside>

        {% block body %}
        {% endblock %}
    </body>
</html>
