{% extends "skeletons/categorie.jinja" %}

{% block title %}Catégorie ajouté{% endblock %}

{% block body %}
<p>Vous avez ajouté la catégorie suivant : {{ livre.nom }} | ID : {{ livre.pk }}</p>
{% endblock %}
